@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #7bdaf3;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.add {
  background-color: #e4dfd4;
  border: none;
  border: 1px solid green;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 5px;
  right: 5px;
  display: flex;
  gap: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 200ms;
}

.add:hover {
  background-color: #b5cc7b;
}

.note {
  background-color: #fff;
  width: 400px;
  height: 350px;
  background: linear-gradient(to right, #f8ffe9, #e4dfd4);
  overflow: hidden;
  border: 1px solid green;
  border-radius: 5px;
}

.note .tools {
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.note .tools button {
  background-color: transparent;
  border: none;
  color: #3e4f27;
  font-size: 1.1rem;
  cursor: pointer;
}

.note .main {
  height: 100%;
  width: 100%;
  padding: 0 0.5rem;
}

.note textarea {
  width: 100%;
  height: 100%;
  border: none;
  border-top: 1px solid green;
  font-family: inherit;
  font-size: 1.01rem;
  padding: 0.5rem;
  outline: none;
  resize: none;
}

.note .hidden {
  display: none;
}
